.button {
    display: inline-block;
    text-decoration: none;
    color: $white;
    background-color: $dark-desaturated-blue;
    border: none;
    border-radius: 99rem;
    padding: 0.7rem 3rem;
}
