// Primary
 $soft-cyan: hsl(174, 77%, 80%);
 $strong-cyan: hsl(174, 86%, 45%);
 $light-grayish-red: hsl(14, 92%, 95%);
 $light-red: hsl(15, 100%, 70%);
 $pale-blue: hsl(222, 87%, 97%);

// Neutral
$white: hsl(0, 0%, 100%);
$very-pale-blue: hsl(230, 100%, 99%);
$light-grayish-blue: hsl(223, 50%, 87%);
$grayish-blue: hsl(225, 20%, 60%);
$dark-desaturated-blue: hsl(227, 35%, 25%);

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 0.9375rem;
    position: relative;

    text-align: center;
}

.top {
    background-color: #f1f5fe;
    border-radius: 0 0 0 7rem;
    position: relative;

    padding: 4rem 0 10rem 0;

    &__img {
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
    }

    &__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    &__para {
        opacity: 0.5;
    }

    &__para + &__para {
        margin-top: 0.2rem;
    }
}

.bottom {
    margin: -7rem 2rem;
    padding: 2rem 1rem;
    box-shadow: 1px 1px 2px 2px #f1f5fe;
    background-color: $white;
    border-radius: 0.5rem;

    position: relative;
    z-index: 3;
    color: $grayish-blue;

    div:first-child {
        padding-bottom: 2rem;
    }

    &__price {
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        span:first-child {
            font-size: 2rem;
            padding-right: 0.5rem;
            color: $dark-desaturated-blue;
        }
    }

    &__price-range {
        margin-bottom: 2rem;
    }

    &__title {
        font-size: 1.2rem;
        font-weight: normal;
        text-transform: uppercase;

        margin-bottom: 2rem;
    }

    &__cycle {
        display: flex;
        justify-content: center;
        column-gap: 2rem;
        position: relative;

        &::after {
            content: "";
            background-color: #f1f5fe;
            position: absolute;
            top: 100%;
            left: -1rem;
            right: -1rem;
            height: 1px;
        }
    }

    &__cycle-monthly, &__cycle-yearly {
        display: flex;
        column-gap: 0.5rem;
    }

    &__cycle-yearly {
        span:last-child {
            align-self: flex-start;
        }
    }

    &__features {
        a {
            margin-top: 2rem;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li::before {
            content: "\f00c";
            font: normal normal normal 14px/1 FontAwesome;
            padding-right: 0.5rem;
            color: green;
        }

        li + li {
            margin-top: 0.5rem;
        }
    }
}

.button {
    display: inline-block;
    text-decoration: none;
    color: $white;
    background-color: $dark-desaturated-blue;
    border: none;
    border-radius: 99rem;
    padding: 0.7rem 3rem;
}

.label {
    background-color: $light-grayish-red;
    color: $light-red;
    border-radius: 99rem;
    padding: 0.15rem 0.7rem;
}

/*
 * Custom checkbox
 */

.custom-checkbox {
    input {
        position: relative;
        opacity: 0;
    }

    .checkbox {
        display: inline-block;
        width: 3rem;
        height: 1.5rem;
        background: $grayish-blue;
        border-radius: 99rem;
        padding: 4px 0;
        position: relative;

        label {
            cursor: pointer;
            background-color: $white;
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            transition: all ease-in-out 350ms;

            position: absolute;
            left: 6px;
        }
    }

    input:checked + .checkbox label {
        left: 50%;
        transition: all ease-in-out 350ms;
    }
}

